name: Build and Push Docker Image

on:
  push:
    branches:
      - feature/bolt-ui

jobs:
  build-and-push:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            network=host

      - name: Log in to private registry
        uses: docker/login-action@v3
        with:
          registry: 127.0.0.1:5000
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: 127.0.0.1:5000/animal-registry-frontend:latest
